app/code/local/Sandbourne/BulkApi/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
   	name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
   	<message name="fullProductUpdateRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="productXML" type="xsd:string"/>
   	</message>
   	<message name="fullProductVersionRequest">
		<part name="sessionId" type="xsd:string"/>
   	</message>
        <message name="partialProductUpdateRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="productXML" type="xsd:string"/>
   	</message>
        <message name="fullImageUpdateRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="productXML" type="xsd:string"/>
   	</message>
   	<message name="fullProductUpdateResponse">
		<part name="result" type="xsd:string" />
   	</message>
   	<message name="fullProductVersionResponse">
		<part name="result" type="xsd:string" />
   	</message>
   	<message name="partialProductUpdateResponse">
		<part name="result" type="xsd:string" />
   	</message>
   	<message name="fullImageUpdateResponse">
		<part name="result" type="xsd:string" />
   	</message>
   	<portType name="{{var wsdl.handler}}PortType">
		<operation name="fullProductUpdate">
				<documentation>Creates or updates products in bulk</documentation>
				<input message="typens:fullProductUpdateRequest" />
				<output message="typens:fullProductUpdateResponse" />
		</operation>
		<operation name="fullProductVersion">
				<documentation>Retrieves the version of the BulkAPI</documentation>
				<input message="typens:fullProductVersionRequest" />
				<output message="typens:fullProductVersionResponse" />
		</operation>
                <operation name="partialProductUpdate">
				<documentation>Updates products using partial details in bulk</documentation>
				<input message="typens:partialProductUpdateRequest" />
				<output message="typens:partialProductUpdateResponse" />
		</operation>
                <operation name="fullImageUpdate">
				<documentation>Updates product images using full details in bulk</documentation>
				<input message="typens:fullImageUpdateRequest" />
				<output message="typens:fullImageUpdateResponse" />
		</operation>
   	</portType>
   	<binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="fullProductUpdate">
				<soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
				<input>
						<soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
						<soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="fullProductVersion">
				<soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
				<input>
						<soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
						<soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="partialProductUpdate">
				<soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
				<input>
						<soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
						<soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="fullImageUpdate">
				<soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
				<input>
						<soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
						<soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
   	</binding>
   	<service name="{{var wsdl.name}}Service">
		<port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
				<soap:address location="{{var wsdl.url}}" />
		</port>
   	</service>
</definitions>
